<nav>
  <ul class="pagination">
    <li ng-show="<%= controller %>.page > 1">
      <%= link_to(
          angular_path_to(
            public_send("#{path_method}_safe_path",
              {
                page: "{{ #{controller}.page-1 }}"
              }.merge(options)
            )
          ),
          'aria-label' => 'Previous'
        ) do %>
        <span aria-hidden="true">&laquo;</span>
      <% end %>
    </li>
    <li ng-repeat="page in <%= controller %>.pagination track by $index" class="{{ <%= controller %>.page == page ? 'active' : '' }}">
      <%= link_to(
          angular_path_to(
            public_send("#{path_method}_safe_path",
              {
                page: '{{ page }}'
              }.merge(options)
            )
          ), 'ng-show' => 'page'
        ) do %>
        {{ page }} <span class="sr-only" ng-show="<%= controller %>.page == page">(current)</span>
      <% end %>
       <span ng-show="!page" class="disabled">&#8230;</span>
    </li>
    <li ng-show="<%= controller %>.page < <%= controller %>.pages">
      <%= link_to(
          angular_path_to(
            public_send("#{path_method}_safe_path",
              {
                page: "{{ #{controller}.page + 1 }}"
              }.merge(options)
            )
          ), 'aria-label' => 'Next'
        ) do %>
        <span aria-hidden="true">&raquo;</span>
      <% end %>
    </li>
  </ul>
</nav>

